__pycache__/
*.pyc
.DS_Store
.idea/
.trae/rules/
.trash/
market_store/*
!market_store/logos/
market_store/logos/*
!market_store/logos/EUV.png
tests/
settings_store/
node_modules/
.vercel/
.vercelignore
